{% extends '_baseStudent.html.twig' %}

{% block pageTitle %}Single Student Page {% endblock %}

{% block main %}
<h1>{{ student.firstname }} {{ student.surname }}</h1>

    {{ student.seen }}
    ID = {{ student.id }}
    <br>
    Join Date = {{ student.joindate }}
    <br>
    Last Grading = {{ student.lastgrading }}
    <br>
    Current Grade = {{ student.currentgrade }}
    <br>
    Average Grade = {{ student.avggrade }}
    <br>
    Last Grading = {{ student.lastGrading }}
    {#Eligible = {{ student.eligible }}#}
    <br>
    {#Techniques seen  = {{ student.seen }}#}
    Time Since Last Grading is {{ timeSince }} months
    <br>
    {#<a href = "/addTechniqueSeen/{{ student.id }}">Add Technique Seen</a>#}


    </form>


{% endblock %}