{% extends '_baseStudent.html.twig' %}

{% block pageTitle %}Single Student Score Page {% endblock %}

{% block main %}
<h1>Student Score</h1>

{{ student.firstName }} {{ student.surname }}
    <h1>sylabus for next grade</h1>
    <br>
    <table><tr>
{% for t in techs %}
        <th>{{ t.name }}</th>
{% endfor %}
        </tr>

        <tr>
            {% for g in grades %}
                <td>{{ g.score }}</td>
            {% endfor %}
        </tr>

    </table>
    <br>
    <h1>{{ eligibility }}</h1>

{% endblock %}
