{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Mark attendance page{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

    <h2>Students who attend {{ class.name }} level class on {{ dateString }}</h2>
    {{ class.name }}
{##}
    <hr>
    <table>
        <form action="/processAttendance"method="post">

        <tr>
            <th> ID </th>
            <th> Surname </th>
            <th> First Name </th>
            <th> Join Date </th>
            <th> Last Grading </th>
            <th> Current Belt </th>
            <th> Avg Grade </th>
            <th> Eligible </th>
            <th> Attendance </th>
        </tr>

        {% for student in students %}
            <tr>
                <td><a href = "/showStudent/{{ student.id }}">{{ student.id }}</a>
                </td>
                <td>{{ student.surname }}</td>
                <td>{{ student.firstname }}</td>
                <td>{{ student.joindate }}</td>
                <td>{{ student.lastgrading }}</td>
                <td>{{ student.currentgrade }}</td>
                <td>{{ student.avggrade }}</td>

                <td>
            {#{% if attendances is defined %}#}
                {#{% for attendance in attendances %}#}
                    {#{% if attendance.studentId==student.id %% attendance.sessionId`%}#}
                    {#<img src="images/marked.png">#}
                        {#{% endif %}#}
                    {#{% endfor %}#}
                    {#{% endif %}#}
                </td>
                <td>
                    {% if attendances is defined %}
                      <select name="atten">
                    <option value = 1> - Present  </option>
                    <option value = 0> - Abscent - </option>
                    </select>
                </td>
                <td>

                    <input type="hidden" name="sessionId" value="{{ class.id }}">
                    <input type="hidden" name="id" value="{{ student.id }}">
                    <input type="hidden" name="dateString" value="{{ dateString }}">
                    <input type="submit" value="Attended">
                    </td>
                        {% endif %}
   </form>


            </tr>
        {% endfor %}
        </form>
{##}
    </table>
{% endblock %}