{% extends '_base.html.twig' %}

{% block pageTitle %}Single Student Page {% endblock %}

{% block main %}sadasd
<h1>{{ student.firstname }} {{ student.surname }}</h1>

    ID = {{ student.id }}
    <br>
    Join Date = {{ student.joindate }}
    <br>
    Last Grading = {{ student.lastgrading }}
    <br>
    Current Grade = {{ student.currentgrade }}
    <br>
    Average Grade = {{ student.avggrade }}
    <br>
    {% if timeSince is defined %}
    Time Since Last Grading is {{ timeSince }} months
        {% endif %}

    <br>
    {#<a href = "/addTechniqueSeen/{{ student.id }}">Add Technique Seen</a>#}


    {#</form>#}


{% endblock %}